$Header-Height: 4em;
$Header-Width-Max: 1200px;
$Logo-Height: 2em;

$Main-Width-Max: 1200px;


$Primary-Color: #F0595F;
$Secondary-Color: #FF8F68;
$Tertiary-Color: white;

/*
$Primary-Color: black;
$Secondary-Color: red;
$Tertiary-Color: white;
*/



$Z-Index-Back: -1;