include ../mixins/header.pug
include ../mixins/table.pug
include ../mixins/formulariocontent.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title TecFlex
        link(rel="stylesheet", href="./../style.css")
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500,700&display=swap", rel="stylesheet")
    body
        +header("Buscar Producto","#","Cerrar Sesión","#","../asserts/logo.png")
        main.Main

            h1.Main-Title|Datos de Producto

            form(action="#")(.Formulario .Formulario-diferente )   
                .Formulario-grid
                    +Labels('Nombre del Producto: ','Lector')
                    +Labels('Fecha de venta: ','10/05/2019')
                    +Labels('IdProducto: ','85468572')
                    +Labels('Etapa Actual: ','Reparación')
                    +Labels('Garantia: ','Si')
                    +Labels('Descripción: ','El producto esta siendo reparado.')
                .Formulario-Botones
                    a.Formulario-Boton="Ver Producto"
                    a.Formulario-Boton="Volver"
    script(src="../js/jquery.js")    